<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Products</title>
</head>
<body>
	<h2>Product List</h2>
	<h2>Available Products</h2>
	<table border="1">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Action</th>
			<th>Delete Product</th>
		</tr>
		<tr th:each="product : ${products}">
			<td th:text="${product.name}">Product Name</td>
			<td th:text="${product.description}">Product Description</td>
			<td th:text="${product.price}">0.00</td>
			<td><a th:href="@{/add-to-cart(productId=${product.id})}">Add
					to Cart</a></td>
			<td><a th:href="@{'/admin/delete-product'(id=${product.id})}"
				onclick="return confirm('Are you sure?')">Delete</a></td>
		</tr>
	</table>
</body>
</html>